/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the logo horizontally and vertically */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F4FAF8;
    /*align-items: center;*/
}
#myDIV {
    width:100%;
    height:1000px;
    background-color:#000000;
    border-top:40px snow;
    border-top-width: thick;
    border-top-style:dotted;
    text-align: center;
}

/* Style for the logo container */
.logo-container {
    position: relative;
    margin-top: 50px;
    align-self: center;
}

.music-note {
    font-size: 120px; /* Make the music note bigger */
    color: #333; /* Adjust color as needed */
    float: left; /* Float the music note to the left */
    margin-right: 20px; /* Add margin to create space between music note and logo name */
}

/* Style for the logo name */
.logo-name {
    font-size: 24px;
    color: #000000; /* Adjust color as needed */
    font-weight: bold;
    display: inline-block; /* Display the logo name as inline-block */
    vertical-align: middle; /* Align the logo name vertically with the music note */
    margin-top: 50px;
}

/* Style for the button container */
.button-container {
    width:200px;
    height:50px;
    background: #000000;
    position:relative;

    margin-top: 20px;
    display: flex;
    align-items: right;
    justify-content: right; /* Center the buttons horizontally */
    cursor:pointer;
}

/* Style for the buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #435C5F;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #303b3c; /* Darker shade of blue on hover */
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Style for the button container */
.button-container{
    margin-top:20px;
}

/* Style for the buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #435C5F;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.back-container{
    display:flex;
    justify-content: space-between;
}

.left, .right, .center{
    display: flex;
        flex-direction: column;
    text-align: flex;
}


